{{!< secure }}

<div class="container">

	<div id="post">
		<h1>Questionnaire</h1>
		<p class="lead">Answer some questions</p>
		<span>
			1. {{data.[0].question}}
			<select id="{{data.[0].id}}">
				<option value="{{data.[0].answers.[0]}}">{{data.[0].answers.[0]}}</option>
				<option value="{{data.[0].answers.[1]}}">{{data.[0].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			2. {{data.[1].question}}
			<select id="{{data.[1].id}}">
				<option value="{{data.[1].answers.[0]}}">{{data.[1].answers.[0]}}</option>
				<option value="{{data.[1].answers.[1]}}">{{data.[1].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			3. {{data.[2].question}}
			<select id="{{data.[2].id}}">
				<option value="{{data.[2].answers.[0]}}">{{data.[2].answers.[0]}}</option>
				<option value="{{data.[2].answers.[1]}}">{{data.[2].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			4. {{data.[3].question}}
			<select id="{{data.[3].id}}">
				<option value="{{data.[3].answers.[0]}}">{{data.[3].answers.[0]}}</option>
				<option value="{{data.[3].answers.[1]}}">{{data.[3].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			5. {{data.[4].question}}
			<select id="{{data.[4].id}}">
				<option value="{{data.[4].answers.[0]}}">{{data.[4].answers.[0]}}</option>
				<option value="{{data.[4].answers.[1]}}">{{data.[4].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			6. {{data.[5].question}}
			<select id="{{data.[5].id}}">
				<option value="{{data.[5].answers.[0]}}">{{data.[5].answers.[0]}}</option>
				<option value="{{data.[5].answers.[1]}}">{{data.[5].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			7. {{data.[6].question}}
			<select id="{{data.[6].id}}">
				<option value="{{data.[6].answers.[0]}}">{{data.[6].answers.[0]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			8. {{data.[7].question}}
			<select id="{{data.[7].id}}">
				<option value="{{data.[7].answers.[0]}}">{{data.[7].answers.[0]}}</option>
				<option value="{{data.[7].answers.[1]}}">{{data.[7].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			9. {{data.[8].question}}
			<select id="{{data.[8].id}}">
				<option value="{{data.[8].answers.[0]}}">{{data.[8].answers.[0]}}</option>
				<option value="{{data.[8].answers.[1]}}">{{data.[8].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			10. {{data.[9].question}}
			<select id="{{data.[9].id}}">
				<option value="{{data.[9].answers.[0]}}">{{data.[9].answers.[0]}}</option>
				<option value="{{data.[9].answers.[1]}}">{{data.[9].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			11. {{data.[10].question}}
			<select id="{{data.[10].id}}">
				<option value="{{data.[10].answers.[0]}}">{{data.[10].answers.[0]}}</option>
				<option value="{{data.[10].answers.[1]}}">{{data.[10].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			12. {{data.[11].question}}
			<select id="{{data.[11].id}}">
				<option value="{{data.[11].answers.[0]}}">{{data.[11].answers.[0]}}</option>
				<option value="{{data.[11].answers.[1]}}">{{data.[11].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			13. {{data.[12].question}}
			<select id="{{data.[12].id}}">
				<option value="{{data.[12].answers.[0]}}">{{data.[12].answers.[0]}}</option>
				<option value="{{data.[12].answers.[1]}}">{{data.[12].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<span>
			14. {{data.[13].question}}
			<select id="{{data.[13].id}}">
				<option value="{{data.[13].answers.[0]}}">{{data.[13].answers.[0]}}</option>
				<option value="{{data.[13].answers.[1]}}">{{data.[13].answers.[1]}}</option>
			</select>
		</span>
		<br><br>
		<button id="submit">Submit</button>
	</div>

</div><!-- /.container -->
